.error_message {
    color: red;
}

.success_message {
    color: green;
}

body,
html {
    font-family: sans-serif;
    background: #191919;
    /* color: rgb(87, 86, 86); */
    color: white;
    height: 100%;
    text-align: center;
}

.form-control {
    margin-bottom: 5px;
}

.custom-centered {
    margin: 0 auto;
    width: 300px;
}

input {
    text-align: center;
}

.table {
    color: green;
    width: fit-content;
    text-align: center;
}