<!DOCTYPE html>
<html>
{% include 'static/header.html' %}

<body>
    {% include 'static/navbar.html' %}
    <br>
    <h1>Détails du compte</h1>

    <div class="container h-100">
        <div class="row justify-content-center">
            <form class="col-8" action="{{url_for('account')}}" method="POST">
                <div class="form-group">
                    <label for="username">Nom de compte</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{current_user.get_username()}}">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe actuel</label>
                    <input type="password" class="form-control" id="current_password" name="current_password">
                </div>
                <div class="form-group">
                    <label for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="new_password" name="new_password">
                </div>
                <div class="form-group">
                    <label for="password">Confirmer le nouveau mot de passe</label>
                    <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm">
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" value="Modifier le mot de passe">
                </div>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            </form>

            {% if session['error_message'] %}
            <p class="error_message">{{ session['error_message'] }}</p>
            {% endif %} {% if session['success_message'] %}
            <p class="success_message">{{ session['success_message'] }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>