<!DOCTYPE html>
<html>
{% include 'static/header.html' %}

<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-8" action="{{url_for('connexion')}}" method="POST">
                <h1>DNS Wall</h1>
                {% if session['error_message'] %}
                <p class="error_message">{{ session['error_message'] }}</p>
                {% endif %} {% if session['success_message'] %}
                <p class="success_message">{{ session['success_message'] }}</p>
                {% endif %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" value="Se connecter">
                </div>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <br>
                <ul>
                    <li>Status du service unbound:&nbsp;&nbsp;{% if status %}<div class="check"></div>{% endif %}{% if not status %}&#10060;{% endif %}</li>
                </ul>
                {% if status %}
                <div class="row">
                    <div class="col">
                        <div class="card text-white bg-danger">
                            <div class="card-header">Nombre de requêtes traitées</div>
                            <div class="card-body">
                            <p class="card-text">{{number_query}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-danger">
                            <div class="card-header">Nombre de requêtes bloquées</div>
                            <div class="card-body">
                                <p class="card-text">{{query_blocked}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>

</html>